<div class="row">
				<main class="col-md-12">

					<!-- Start your code here -->
					<nav>
						<h2>Welcome to Prabhjots Web development!</h2>
							<h4>Here is your chance to explore new things in CSS and HTML. This is just a page to test my skills. My developments in Web development will added to this project here after </h4>
							<h4>To see the improvement in my web pages please go through the links</h4>
							<nav class="navbar navbar-expand-lg navbar-light bg-light">
								
								<div class="collapse navbar-collapse" id="navbarSupportedContent">
									<ul class="navbar-nav mr-auto">
										<li class="nav-item active"><a class="nav-link" href="/about">About</a></li>
										<li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
										<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
										<li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
									</ul>
									<ul class="navbar-nav ml-auto">
										<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
										{{!-- <li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li> --}}
										<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
									</ul>
								</div>
							</nav>	

						</h5>
					</nav>
					
					
					<!-- End your code here  -->



				</main>
</div>