			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					<h2>Welcome to my website. I will be explaining html and CSS in detail</h2>
					<h1>HTML and CSS basic. We will also deal with some pages that we created </h1>
						<a href="home.html"> Home </a> 
                        <a href="about.html">  | About </a> 
                        <a href="htmlDemo.html">  | HTML Demo </a> 
						<a style="color: rgb(189, 39, 226);" id = "students" href="http://localhost:8080/students"><li>All the Students</li></a>
                    	<a style="color: rgb(243, 67, 213);" id = "students" href="http://localhost:8080/students/?course=4"><li>Students by Course</li></a>
                    	<a style="color: rgb(233, 73, 179);" id = "students" href="http://localhost:8080/student/5"><li>Student with number</li></a>
                    	<a style="color: rgb(213, 62, 190);" id = "students" href="http://localhost:8080/tas"><li>Managers	</li></a>
                    	<a style="color: rgb(213, 56, 169);" id = "students" href="http://localhost:8080/Courses"><li>All Courses</li></a>

					
					<h3>Introducton to the HTML version in this page</h3>	
					<body>This website uses html 5 and other json files to load the data.</body>
					<!-- End your code here  -->


				</main>
			</div>